In [1]:
import pandas as pd
import re
df = pd.read_csv('Data/clean_biz_most_ntas.csv')

In [19]:
df

,unique_id,NTA_present,loc_present,Addy_present,zip_present,Business Name,Business Name 2,Address Building,Address Street Name,Address City,Address ZIP,Location,NTA,biz_exp_date,clean_phone,approx_loc,est_NTA
0,0,False,False,False,True,"CIORNEI, FRANK C",-1,-1,-1,ASTORIA,11106.0,(),-1,2022-03-31,7.189564e+09,"(40.7608, -73.9295)",QN70
1,1,False,False,False,True,"STOYANOFF, ALEXANDRA",-1,-1,-1,NEW YORK,10163.0,(),-1,2022-03-31,9.172143e+09,"(40.7808, -73.9772)",MN12
2,2,False,False,False,True,"DAGLIAN, KRIKOR A",-1,-1,-1,NEW YORK,10009.0,(),-1,2022-03-31,9.175926e+09,"(40.7262, -73.9796)",MN28
3,3,False,False,False,True,"zhang, Jie Jie",-1,-1,-1,FLUSHING,11355.0,(),-1,2021-09-30,7.186685e+09,"(40.7536, -73.8226)",QN22
4,4,False,False,False,True,"MOHAMED, AHMED S",-1,-1,-1,BROOKLYN,11214.0,(),-1,2022-03-31,9.179467e+09,"(40.6016, -73.9968)",BK28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50797,58259,True,True,True,True,Souade Zahidi,General Contractor,699,FOUNTAIN AVE,BROOKLYN,11208.0,"(40.66313652662333, -73.86917250915717)",BK82,2021-02-28,3.472388e+09,"(40.66313652662333, -73.86917250915717)",BK82
50798,58260,False,True,True,True,VIF CORP,-1,6605,WOODHAVEN BLVD,REGO PARK,11374.0,"(40.71812959270729, -73.86341531578508)",-1,2023-02-28,9.175732e+09,"(40.71812959270729, -73.86341531578508)",QN18
50799,58261,False,True,True,True,ECOATM LLC,ecoATM,797,SOUTHERN BLVD,BRONX,10455.0,"(40.81607452267693, -73.8964804616746)",-1,2021-07-31,8.587667e+09,"(40.81607452267693, -73.8964804616746)",BX33
50800,58262,True,True,True,True,J.R. GRECH CONSTRUCTION CORP.,CONSTRUCTION CORPORATION,3632,23RD ST,ASTORIA,11106.0,"(40.75859805744959, -73.93551043876937)",QN68,2021-02-28,7.189375e+09,"(40.75859805744959, -73.93551043876937)",QN68
50801,58263,False,True,True,True,MUKTA CONSTRUCTION CORP.,-1,429,AUTUMN AVE,BROOKLYN,11208.0,"(40.67928126940364, -73.86913002093982)",-1,2023-02-28,7.183489e+09,"(40.67928126940364, -73.86913002093982)",BK83

In [3]:
df["Business Name 2"][0] == '-1'

True

In [4]:
import requests
import json
import time

APIKEY = "AIzaSyAC_fz18EQHQzt-3YNop1jC0VfSW4LA_mQ"
#APIKEY = "AIzaSyDhhLagvdQuZTWZJGIagCP1X8RTCSoL4Qo"

In [30]:
def search_places_by_business_name(name, location, radius, types, fields):
    
        endpoint_url = ("https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
            + "input={name}&"
            + "inputtype=textquery&"
            + "fields={fields}&"
            + "key={key}").format(name=name.replace(' ', '%20'), fields=(",".join(fields)), key = APIKEY)
    
        if location is not None:
            endpoint_url = ("https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
            + "input={name}&"
            + "inputtype=textquery&"
            + "fields={fields}&"
            + "locationbias=circle:{rad}@{loc}&"
            + "key={key}").format(name=name.replace(' ', '%20'), fields=(",".join(fields)), rad = radius, loc = location, key = APIKEY)
        #print(endpoint_url)
        places = []
        
        res = requests.get(endpoint_url)
        results = json.loads(res.content)
        #print(results)
        places.extend(results['candidates'])
        time.sleep(2)
        while "next_page_token" in results:
            params['pagetoken'] = results['next_page_token'],
            res = requests.get(endpoint_url, params = params)
            results = json.loads(res.content)
            places.extend(results['results'])
            time.sleep(2)
        return places

In [31]:
def search_places_by_phone_number(phone_number, location, radius, types, fields):
    
        phone_number = "%2B1" + str(int(phone_number))
    
        endpoint_url = ("https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
            + "input={number}&"
            + "inputtype=phonenumber&"
            + "fields={fields}&"
            + "key={key}").format(number=phone_number, fields=(",".join(fields)), key = APIKEY)
    
        if location is not None:
            endpoint_url = ("https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
            + "input={number}&"
            + "inputtype=phonenumber&"
            + "fields={fields}&"
            + "locationbias=circle:{rad}@{loc}&"
            + "key={key}").format(number=phone_number, fields=(",".join(fields)), rad = radius, loc = location, key = APIKEY)
        #print(endpoint_url)
        places = []
        
        res = requests.get(endpoint_url)
        results = json.loads(res.content)
        #print(results)
        places.extend(results['candidates'])
        time.sleep(2)
        while "next_page_token" in results:
            params['pagetoken'] = results['next_page_token'],
            res = requests.get(endpoint_url, params = params)
            results = json.loads(res.content)
            places.extend(results['results'])
            time.sleep(2)
        return places

In [32]:
business_status = []
Google_place_id = []
for index, row in df.iterrows():
    if index < 5:
        if index%100 == 0:
            print(index)
        #Check if location exists
        lat_lon = None
        if row["approx_loc"] != "()":
            temp = row["approx_loc"].replace("(", "").replace(")","").replace(" ","")
            lat_lon = list(re.split(",", temp))
            lat_lon = "{lat},{lon}".format(lat = lat_lon[0], lon = lat_lon[1])
        
        if row["Business Name 2"] != '-1':
            places = search_places_by_business_name(row["Business Name 2"], lat_lon, "10", "restaurant",["place_id", "business_status"])
            if places != []:
                business_status.append(places[0]['business_status'])
                Google_place_id.append(places[0]['place_id'])
                continue
        if row["clean_phone"] != -1:
            places = search_places_by_phone_number(row["clean_phone"], lat_lon, "10", "restaurant",["place_id", "business_status"])
            if places != []:   
                business_status.append(places[0]['business_status'])
                Google_place_id.append(places[0]['place_id'])
                continue
        if row["Business Name"] != '-1':
            places = search_places_by_business_name(row["Business Name"], lat_lon, "10", "restaurant",["place_id", "business_status"])
            if places != []:
                business_status.append(places[0]['business_status'])
                Google_place_id.append(places[0]['place_id'])
                continue
        
        business_status.append("Not Found")
        Google_place_id.append("Not Found")

0

In [33]:
business_status

['Not Found', 'Not Found', 'Not Found', 'OPERATIONAL', 'OPERATIONAL']

In [ ]:
df["Business Status"] = business_status
df["Google Place ID"] = Google_place_id
df