In [3]:
import pandas as pd

df = pd.read_csv('Data/DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

In [79]:
df2 = df.head(5)
df2

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50047645,BOCELLI'S,Staten Island,1260,HYLAN BOULEVARD,10305.0,7184206150,NaN,01/30/2018,F,...,04/18/2021,Cycle Inspection / Initial Inspection,40.597584,-74.084445,502.0,50.0,6400.0,5047240.0,5.032200e+09,SI14
1,40734506,JOHN HUGHES KNIGHTS OF COLUMBUS CLUB,Brooklyn,1305,86 STREET,11228.0,7182598840,NaN,05/14/2016,D,...,04/18/2021,Cycle Inspection / Initial Inspection,40.613816,-74.013507,310.0,43.0,15000.0,3165570.0,3.063390e+09,BK30
2,41385384,MIMI'S HUMMUS,Brooklyn,1209,CORTELYOU ROAD,11218.0,7182844444,NaN,02/01/2018,U,...,04/18/2021,Cycle Inspection / Re-inspection,40.640121,-73.966872,314.0,40.0,152200.0,3118320.0,3.051430e+09,BK42
3,41671851,MARTHA'S COUNTRY BAKERY,Queens,7028,AUSTIN ST,11375.0,7185440088,NaN,12/26/2019,D,...,04/18/2021,Cycle Inspection / Re-inspection,40.720612,-73.846061,406.0,29.0,71100.0,4077471.0,4.032340e+09,QN17
4,50016888,LOS TACOS MCONDO,Brooklyn,502,GRAND STREET,11211.0,3477631548,NaN,04/12/2018,D,...,04/18/2021,Cycle Inspection / Re-inspection,40.710974,-73.950782,301.0,34.0,51300.0,3323031.0,3.027850e+09,BK73

In [50]:
import requests
import json
import time

APIKEY = "AIzaSyAC_fz18EQHQzt-3YNop1jC0VfSW4LA_mQ"

In [82]:
def search_places_by_coordinate(name, location, radius, types, fields):
        endpoint_url = ("https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
        + "input={name}&"
        + "inputtype=textquery&"
        + "fields={fields}&"
        + "locationbias=circle:{rad}@{loc}&"
        + "key={key}").format(name=name, fields=(",".join(fields)), rad = radius, loc = location, key = APIKEY)
        #print(endpoint_url)
        places = []
        
        res = requests.get(endpoint_url)
        results = json.loads(res.content)
        #print(results)
        places.extend(results['candidates'])
        time.sleep(2)
        while "next_page_token" in results:
            params['pagetoken'] = results['next_page_token'],
            res = requests.get(endpoint_url, params = params)
            results = json.loads(res.content)
            places.extend(results['results'])
            time.sleep(2)
        return places

In [83]:
business_status = []
Google_place_id = []
for index, row in df.iterrows():
    if index < 5:
        lat_lon = "{lat},{lon}".format(lat = row["Latitude"], lon = row["Longitude"])
        places = search_places_by_coordinate(row["DBA"], lat_lon, "10", "restaurant",["place_id", "business_status"])
        business_status.append(places[0]['business_status'])
        Google_place_id.append(places[0]['place_id'])

In [86]:
df2["Business Status"] = business_status
df2["Google Place ID"] = Google_place_id
df2

<ipython-input-86-61884c4dbbfb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Business Status"] = business_status
<ipython-input-86-61884c4dbbfb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Google Place ID"] = Google_place_id

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Business Status,Google Place ID
0,50047645,BOCELLI'S,Staten Island,1260,HYLAN BOULEVARD,10305.0,7184206150,NaN,01/30/2018,F,...,40.597584,-74.084445,502.0,50.0,6400.0,5047240.0,5.032200e+09,SI14,OPERATIONAL,ChIJtezdauROwokRWI_0uphXQZ8
1,40734506,JOHN HUGHES KNIGHTS OF COLUMBUS CLUB,Brooklyn,1305,86 STREET,11228.0,7182598840,NaN,05/14/2016,D,...,40.613816,-74.013507,310.0,43.0,15000.0,3165570.0,3.063390e+09,BK30,OPERATIONAL,ChIJ___PkW5FwokRwZQdnht3px8
2,41385384,MIMI'S HUMMUS,Brooklyn,1209,CORTELYOU ROAD,11218.0,7182844444,NaN,02/01/2018,U,...,40.640121,-73.966872,314.0,40.0,152200.0,3118320.0,3.051430e+09,BK42,OPERATIONAL,ChIJz10wQDFbwokReAjIb4BjQw0
3,41671851,MARTHA'S COUNTRY BAKERY,Queens,7028,AUSTIN ST,11375.0,7185440088,NaN,12/26/2019,D,...,40.720612,-73.846061,406.0,29.0,71100.0,4077471.0,4.032340e+09,QN17,OPERATIONAL,ChIJr3n5MyFewokRT9dhgQhY86c
4,50016888,LOS TACOS MCONDO,Brooklyn,502,GRAND STREET,11211.0,3477631548,NaN,04/12/2018,D,...,40.710974,-73.950782,301.0,34.0,51300.0,3323031.0,3.027850e+09,BK73,OPERATIONAL,ChIJw_LbfuJbwokRcUy9H7Zcte4